.wrapper-cards{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2%;
}
.cards{
  background: black;
  border: #62cb39 1px solid;
  color: white;
  height: 310px;
  padding: 20px;
  text-align: center;
}
.start {
  background-repeat: no-repeat;
  background: url('../star.png');
  border: 0px solid;
  color: transparent;
  cursor: pointer;
  font: 0/0 a;
  height: 32px;
  text-shadow: none;
  width: 32px;
}

.start-green {
  background-repeat: no-repeat;
  background: url('../start-green.png');
  border: 0px solid;
  color: transparent;
  cursor: pointer;
  font: 0/0 a;
  height: 32px;
  text-shadow: none;
  width: 32px; 
}