.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  margin: 0 auto;
  text-align: center;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background: url('./rick-and-morty-logo-title.png');
  width: 1259px;
  height: 537px;
}